@import "../../style/style.scss";
@import "../../style/mixin.scss";
@import "../../style/breakpoints";

.earn-with-us{
  padding: 95px 0;
  background: #F5F5F5;
  margin-bottom: 95px;

  @include md{
    margin-bottom: 30px;
    padding: 40px 0;
  }

  @include md{
    padding: 25px 0;
  }

  &-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.7%;
  }

  &-item{
    text-align: right;
    flex-basis: 22%;
    padding: 2.5% 2.7%;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;

    &__text{
      text-align: left;
      max-width: 144px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 28px;
    }

    @include breakpoint(840px){
      flex-basis: 48%;
    }

    @include sm{
      flex-basis: 95%;
      margin: 0 auto 25px;
    }
  }

  &__text{
    text-align: center;
    max-width: 476px;
    margin: 0 auto 38px;
    padding: 0 3px;
  }

  &__btn{
    padding: 17px 39px;
    &-container{
      @include flex-space-around;
    }
  }
}