@import '../../style/style.scss';
@import "../../style/mixin.scss";
@import "../../style/breakpoints.scss";

.goods{
  margin-bottom: 95px;

  @include md{
    margin-bottom: 45px;
  }

  &-container{
    max-width: 1150px;
    margin: 0 auto;
  }

  &-slider{
    position: relative;
    padding: 0 20px;
  }

  .swiper-button-prev, .swiper-button-next{
    background-color: #fff;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    top: 45%;
    &::after{
      display: none;
    }
    &:hover{
      background-color: rgb(248, 245, 245);
    }
    @include breakpoint(480px){
      display: none;
    }
  }

  .swiper-button-prev{
    left: 5px;
  }

  .swiper-button-next{
    right: 5px;
    transform: rotate(180deg);
  }
}