@import "../../style/mixin";
@import "../../style/breakpoints";

.header{
  border-bottom: 1px solid #EFEFEF;
  background: #fff;

  .inp-block{
    position: absolute;
    background: #F7F7F7;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.3s;
    transform: translateY(-100%);
    z-index: -1;

    &-container{
      max-width: 1110px;
      @include flex-space-between;
      padding: 18px 10px;
      margin: 0 auto;

      @include xl{
        padding: 10px;
      }

      input{
        display: block;
        border: none;
        padding: 13px 0;
        font-size: 18px;
        line-height: 21px;
        background: transparent;
        outline: none;
        @include sm{
          font-size: 14px;
          line-height: 16px;
        }
      }
      button{
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        border-radius: 100px;
        padding: 10px 25px;
        cursor: pointer;
        @include sm{
          padding: 5px 15px;
        }
      }
    }
  }

  .inp-block.active{
    transform: translateY(94%);

    @include xl{
      transform: translateY(72%);
    }

    @include sm{
      transform: translateY(60%);
    }
  }

  &-container{
    @include flex-space-between;
    padding-left: 10%;
    @include xl{
      padding-left: 1%;
    }
  }
  &-btn{
    padding: 27px;
    border: none;
    border-left: 1px solid #EFEFEF;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      background: linear-gradient(180deg, #96f704 0%, #6ce236 100%);
    }
    @include xl{
      padding: 14px;
    }
    @include breakpoint(840px){
      border-left: 0;
      img{
        width: 16px;
        height: 16px;
      }
    }
    @include sm{
      padding: 10px;
    }
    
  }
}

.nav{
  @include breakpoint(840px){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.3s;
    transform: translateY(-100%);
    z-index: 998;
  }
}

.menu{
  display: flex;
  &__item{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 11px;
    a{
      text-decoration: none;
      color: #000;
      transition: 0.25s;
      &:hover{
        color: rgb(35, 173, 35);
      }
    }
  }

  @include breakpoint(840px){
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;

    &__item{
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
}

.nav.active{
  transform: translateY(0);
}

.logo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 21px;
  line-height: 26px;
  span{
    background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.user{
  &-interaction{
    display: flex;
    align-items: center;
  }
}

.burger{
  position: relative;
  width: 20px;
  height: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0 11px;
  z-index: 999;

  &__line{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    left: 0;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: calc(50% - 1px);
    }
    &:nth-child(3){
      bottom: 0;
    }
  }
}

.burger.active .burger__line:nth-child(2){
  opacity: 0;
}

.burger.active .burger__line:nth-child(1){
  transform: translateY(7px) rotate(45deg);
}

.burger.active .burger__line:nth-child(3){
  transform: translateY(-7px) rotate(-45deg);
}