@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import "./mixin";
@import "./breakpoints";

* , *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;

}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-bg{
  max-width: 1386px;
  margin: 0 auto;
  padding: 0 3px;

  @include sm{
    padding: 0;
  }
}

.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 5px;

  @include md{
    padding: 0 2px;
  }
}

.text-bg{
  display: inline;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.title{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 25px;
  span{
    color: #60B021;
  }
}

.text{
  font-size: 14px;
  line-height: 26px;
  color: #75758A;
}

.white-btn{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    color: #FFFFFF;
    background: #75758A;
  }
}

.green-btn{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background: linear-gradient(180deg, #4F9C2C 0%, #4F9C2C 100%);  
  }
}

