@import "../../style/style.scss";
@import "../../style/breakpoints.scss";

.intro{
  background: url('../../resources/img/intro.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 50px;
  &-container{
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 30px;

    @include md{
      padding-left: 20px;
    }
  }
  &-text{
    font-weight: 700;
    font-size: 30px;
    line-height: 61px;
    padding: 20px;

    @include lg{
      font-size: 20px;
      line-height: 48px;
      padding: 12px;
    }

    @include sm{
      font-size: 16px;
      line-height: 42px;
      padding: 12px;
    }

    span{
      background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &-green{
      position: relative;
      z-index: 3;
      &::before{
        content: '';
        position: absolute;
        bottom: -30px;
        left: -30px;
        width: 60px;
        height: 60px;
        background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
        z-index: -1;
        border-radius: 1000px;
        @include md{
          bottom: -20px;
          left: -20px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}